@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Segoe UI', Tahoma, Arial, sans-serif;
  background-color: #f6f5fc;
}

html.dark body {
  background-color: #06020f;
}
